#welcomeText{
    -fx-font-family: "Comic Sans MS";
}
#loginBox{
    -fx-border-color: white;
    -fx-border-radius: 2.5px;
}
#registerBox{
    -fx-border-color: white;
    -fx-border-radius: 2.5px;
}
