#mainButton, #emissionsButton, #progressButton, #profileButton, #settingsButton , #aboutUsButton, #logoutButton{
    -fx-font-family: "Apple Chancery";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#mainButton:hover, #emissionsButton:hover, #progressButton:hover, #profileButton:hover, #settingsButton:hover,
 #aboutUsButton:hover, #logoutButton:hover{
     -fx-font-size: 29px;
 }

#sideBar{
    -fx-background-color: transparent;
}

#aboutUsText {
    -fx-font-family: "Apple Chancery";
    -fx-font-size: 52px;
    -fx-text-fill: white;
}

#irtazaText, #mariaText, #severText {
    -fx-font-size: 20px;
    -fx-font-family: "Apple Chancery";
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}














